html,
body {
  background-color: $purple;
  color: $purple;
  font-family: $serif;
  font-size: 16px;
  font-weight: $regular;
  height: 100%;
  line-height: 1.5;
  position: relative;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a,
a:hover {
  color: inherit;
  text-decoration: underline;
  background-color: $transparent;
}

img {
  max-width: 100%;
}

ul, ol {
  padding-left: 1.25rem;

  li {
    padding-left: 0.5rem;
  }
}

p, ul, ol {
  margin-bottom: 0.5rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: numeric;
}