// Font weights
$bold: 700;
$semibold: 500;
$medium: 500;
$regular: 400;
$light: 300;

$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: 'Nanum Myeongjo', Georgia, serif;

h1,
%h1 {
  font-size: 3rem;
  font-weight: $regular;
}

h2,
%h2 {
  font-size: 2rem;
  font-weight: $regular;
}

h3,
%h3 {
  font-size: 1.25rem;
  font-weight: $regular;
}

h4,
%h4 {
  font-size: 1.1rem;
  font-weight: $regular;
}

h5,
%h5 {
  font-size: 1.1rem;
}

p,
.p, ul li, ol li {
  font-size: 1rem;
}

strong {
  font-weight: $bold;
}

@media screen and (max-width: $phone-landscape-max) {
  h1,
  %h1 {
    font-size: 1.75rem;
  }

  h4,
  %h4 {
    font-size: 1.5rem;
  }
}
