{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div class="content">
  <h1>Lesley Cordero (she/her)</h1>
  <h4>Staff Engineer, Tech lead, speaker, specializing in platform engineering and reliability management in distributed architectures.</h4>
  <section>
    <h2>About Me</h2>
    <p>
      Hi there! I am a Software Engineer by training and a community builder and writer by passion. I'm also a frequent speaker within the DevOps space. 
      I've worked at and with organizations of varying sizes, which has exposed me to a wide set of technical and architectural challenges.
      My specialization, however, is in distributed systems, particularly service-oriented architectures with varying communication techniques.
    </p>
    <h2>Experience</h2>
    <p> 
      I began my career as a Data Engineer focused on building ETL/ELT pipelines that integrate with clients in the edtech space. 
      This led to a strong foundation for tackling large data problems that I carried through the rest of my career.
    </p>
    <p>
      Working with developers at other companies led me to my role on the Google for Education team, where I led technical integrations with third-party companies.
      I was at Google during the transition to remote learning in 2020 and dealt with technical challenges I never thought I'd see in my career. 
      These challenges instilled a deep appreciation for reliability management and has been my primary problem space since.
    </p>
    <p>
      When I transitioned to Teachers Pay Teachers as a tech lead, I focused on challenges at the organizational level, taking both a bottom up and top down approach to driving sociotechnical change.
      I began and executed on a focused reliability efforts that included improving our observability story, adopting SLOs, and using chaos engineering in production environments. 
    </p>
    <p> 
      Currently, I am at The New York Times as a Staff Engineer and Tech Lead. So far I have focused on setting technical vision and strategy, leading a large monolith decomposition project, driving standardization, and mentoring & coaching other engineers.
    </p>
  </section>
  <section>
    <h2>Talks & Content</h2>
    <p>
      I have given over a dozen talks, mostly in the Site Reliability Engineering space. 
      Most recently, I've delivered talks about effective observability practices, psychologically safe reliability management, 
      technical vision and strategy, and chaos engineering. 
    </p>
    <p>
      Some conferences I've spoken at include LeadDev New York, All Day DevOps, Lesbians Who Tech, The DEVOPS Conference, and numerous DevOpsDays.
      My upcoming speaking engagements include <strong>DataDog Dash 2022</strong>, <strong>All Day DevOps 2022 </strong, and <strong>NDC London 2023</strong>.
    </p>
    <p>
      I'm also a frequent content contributor. 
      Most recently, my contributions have been via LeadDev, but I've previously contributed to Twilio and Google Cloud Engineering blogs.
    </p>
  </section>
  <section>
    <h2>Get in touch!</h2>
    <p> 
      You can reach me through a few avenues: Twitter, Linkedin, or email.  
    </p>
  </section>
</div>
{{/content}}
{{/extend}}
