{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div class="content">
  <h1>Lesley Cordero</h1>
  <h3>Tech lead, speaker, and backend engineer. I'm thinking about observability, microservices, and team culture.</h3>
  <section>
    <h2>Talks</h2>
    <p>An example where you talk about <a href="https://google.com">things for a very long time</a>. An example where you talk about things for a very long time. An example where you talk about things for a very long time. An example where you talk about things for a very long time.</p>
    <ul>
      <li>A talk example</li>
      <li>A talk example</li>
      <li>A talk example</li>
      <li>A talk example</li>
      <li>A talk example</li>
      <li>A talk example</li>
    </ul>
  </section>
  <section>
    <h2>Talks</h2>
    <p>A test of things.</p>
    <ol>
      <li>A talk example</li>
      <li>A talk example</li>
      <li>A talk example</li>
      <li>A talk example</li>
      <li>A talk example</li>
      <li>A talk example</li>
    </ol>
  </section>
  <section>
    <h2>Talks</h2>
    <ul>
      <li>A talk example</li>
      <li>A talk example</li>
      <li>A talk example</li>
      <li>A talk example</li>
      <li>A talk example</li>
      <li>A talk example</li>
    </ul>
  </section>
</div>
{{/content}}
{{/extend}}
